/*** uncss> filename: https://fonts.googleapis.com/css?family=Roboto+Mono ***/

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Mono'), local('RobotoMono-Regular'), url(https://fonts.gstatic.com/s/robotomono/v7/L0x5DF4xlVMF-BfR8bXMIjhLq3o.ttf) format('truetype');
}

/*** uncss> filename: C:/Users/Ethan/Documents/GitHub/HackIAW/fonts/icomoon/style.css ***/

@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?10si43');
  src: url('fonts/icomoon.eot?10si43#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?10si43') format('truetype'), url('fonts/icomoon.woff?10si43') format('woff'), url('fonts/icomoon.svg?10si43#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heart:before {
  content: "\f004";
}

.icon-close2:before {
  content: "\e5cd";
}

.icon-menu:before {
  content: "\e5d2";
}

/*** uncss> filename: C:/Users/Ethan/Documents/GitHub/HackIAW/css/bootstrap.min.css ***/

/*!
 * Bootstrap v4.1.3 (https://getbootstrap.com/)
 * Copyright 2011-2018 The Bootstrap Authors
 * Copyright 2011-2018 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #7971ea;
  --pink: #e83e8c;
  --red: #f23a2e;
  --orange: #ff5733;
  --yellow: #f89d13;
  --green: #8bc34a;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #ff5733;
  --secondary: #6c757d;
  --success: #8bc34a;
  --info: #17a2b8;
  --warning: #f89d13;
  --danger: #f23a2e;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Roboto Mono", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
}

*, :after, :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent
}

@-ms-viewport {
  width: device-width
}

footer, header, nav {
  display: block
}

body {
  margin: 0;
  font-family: "Roboto Mono", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff
}

h1, h2, h3 {
  margin-top: 0;
  margin-bottom: 0.5rem
}

p {
  margin-top: 0;
  margin-bottom: 1rem
}

ul {
  margin-top: 0;
  margin-bottom: 1rem
}

b {
  font-weight: bolder
}

a {
  color: #ff5733;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects
}

a:hover {
  color: #e62900;
  text-decoration: underline
}

img {
  vertical-align: middle;
  border-style: none
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button
}

.h2, .h3, .h4, h1, h2, h3 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit
}

h1 {
  font-size: 2.5rem
}

.h2, h2 {
  font-size: 2rem
}

.h3, h3 {
  font-size: 1.75rem
}

.h4 {
  font-size: 1.5rem
}

.img-fluid {
  max-width: 100%;
  height: auto
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto
}

@media (min-width:576px) {
  .container {
    max-width: 540px
  }
}

@media (min-width:768px) {
  .container {
    max-width: 720px
  }
}

@media (min-width:992px) {
  .container {
    max-width: 960px
  }
}

@media (min-width:1200px) {
  .container {
    max-width: 1140px
  }
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px
}

.col-11, .col-12, .col-lg-4, .col-lg-6, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-9, .col-md-10, .col-md-12, .col-xl-2 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px
}

.col-11 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 91.66667%;
  flex: 0 0 91.66667%;
  max-width: 91.66667%
}

.col-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%
}

@media (min-width:768px) {
  .col-md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%
  }
  .col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%
  }
  .col-md-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%
  }
  .col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%
  }
  .col-md-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%
  }
  .col-md-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%
  }
  .col-md-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%
  }
}

@media (min-width:992px) {
  .col-lg-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%
  }
  .col-lg-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%
  }
}

@media (min-width:1200px) {
  .col-xl-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%
  }
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #ff2d00;
  border-color: #f22b00
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 87, 51, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(255, 87, 51, 0.5)
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #545b62;
  border-color: #4e555b
}

.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5)
}

.btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #71a436;
  border-color: #6a9a33
}

.btn-success:not(:disabled):not(.disabled).active:focus, .btn-success:not(:disabled):not(.disabled):active:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(139, 195, 74, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(139, 195, 74, 0.5)
}

.btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #117a8b;
  border-color: #10707f
}

.btn-info:not(:disabled):not(.disabled).active:focus, .btn-info:not(:disabled):not(.disabled):active:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5)
}

.btn-warning:not(:disabled):not(.disabled).active, .btn-warning:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #d28106;
  border-color: #c57906
}

.btn-warning:not(:disabled):not(.disabled).active:focus, .btn-warning:not(:disabled):not(.disabled):active:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(248, 157, 19, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(248, 157, 19, 0.5)
}

.btn-danger:not(:disabled):not(.disabled).active, .btn-danger:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #df1b0e;
  border-color: #d3190d
}

.btn-danger:not(:disabled):not(.disabled).active:focus, .btn-danger:not(:disabled):not(.disabled):active:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(242, 58, 46, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(242, 58, 46, 0.5)
}

.btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active {
  color: #212529;
  background-color: #dae0e5;
  border-color: #d3d9df
}

.btn-light:not(:disabled):not(.disabled).active:focus, .btn-light:not(:disabled):not(.disabled):active:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5)
}

.btn-dark:not(:disabled):not(.disabled).active, .btn-dark:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #1d2124;
  border-color: #171a1d
}

.btn-dark:not(:disabled):not(.disabled).active:focus, .btn-dark:not(:disabled):not(.disabled):active:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5)
}

.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #ff5733;
  border-color: #ff5733
}

.btn-outline-primary:not(:disabled):not(.disabled).active:focus, .btn-outline-primary:not(:disabled):not(.disabled):active:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 87, 51, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(255, 87, 51, 0.5)
}

.btn-outline-secondary:not(:disabled):not(.disabled).active, .btn-outline-secondary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d
}

.btn-outline-secondary:not(:disabled):not(.disabled).active:focus, .btn-outline-secondary:not(:disabled):not(.disabled):active:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5)
}

.btn-outline-success:not(:disabled):not(.disabled).active, .btn-outline-success:not(:disabled):not(.disabled):active {
  color: #212529;
  background-color: #8bc34a;
  border-color: #8bc34a
}

.btn-outline-success:not(:disabled):not(.disabled).active:focus, .btn-outline-success:not(:disabled):not(.disabled):active:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(139, 195, 74, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(139, 195, 74, 0.5)
}

.btn-outline-info:not(:disabled):not(.disabled).active, .btn-outline-info:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8
}

.btn-outline-info:not(:disabled):not(.disabled).active:focus, .btn-outline-info:not(:disabled):not(.disabled):active:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5)
}

.btn-outline-warning:not(:disabled):not(.disabled).active, .btn-outline-warning:not(:disabled):not(.disabled):active {
  color: #212529;
  background-color: #f89d13;
  border-color: #f89d13
}

.btn-outline-warning:not(:disabled):not(.disabled).active:focus, .btn-outline-warning:not(:disabled):not(.disabled):active:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(248, 157, 19, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(248, 157, 19, 0.5)
}

.btn-outline-danger:not(:disabled):not(.disabled).active, .btn-outline-danger:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #f23a2e;
  border-color: #f23a2e
}

.btn-outline-danger:not(:disabled):not(.disabled).active:focus, .btn-outline-danger:not(:disabled):not(.disabled):active:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(242, 58, 46, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(242, 58, 46, 0.5)
}

.btn-outline-light:not(:disabled):not(.disabled).active, .btn-outline-light:not(:disabled):not(.disabled):active {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa
}

.btn-outline-light:not(:disabled):not(.disabled).active:focus, .btn-outline-light:not(:disabled):not(.disabled):active:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5)
}

.btn-outline-dark:not(:disabled):not(.disabled).active, .btn-outline-dark:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40
}

.btn-outline-dark:not(:disabled):not(.disabled).active:focus, .btn-outline-dark:not(:disabled):not(.disabled):active:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5)
}

.navbar-toggler:not(:disabled):not(.disabled) {
  cursor: pointer
}

.page-link:not(:disabled):not(.disabled) {
  cursor: pointer
}

.close:not(:disabled):not(.disabled) {
  cursor: pointer
}

.close:not(:disabled):not(.disabled):focus, .close:not(:disabled):not(.disabled):hover {
  color: #000;
  text-decoration: none;
  opacity: .75
}

@supports ((-webkit-transform-style:preserve-3d) or (transform-style:preserve-3d)) {}

@supports ((-webkit-transform-style:preserve-3d) or (transform-style:preserve-3d)) {}

@supports ((-webkit-transform-style:preserve-3d) or (transform-style:preserve-3d)) {}

@supports ((-webkit-transform-style:preserve-3d) or (transform-style:preserve-3d)) {}

.border-top {
  border-top: 1px solid #dee2e6!important
}

.border-bottom {
  border-bottom: 1px solid #dee2e6!important
}

.d-none {
  display: none!important
}

.d-inline-block {
  display: inline-block!important
}

.d-block {
  display: block
}

@media (min-width:992px) {
  .d-lg-block {
    display: block!important
  }
}

@media (min-width:1200px) {
  .d-xl-none {
    display: none!important
  }
  .d-xl-block {
    display: block!important
  }
}

.align-items-center {
  -webkit-box-align: center!important;
  -ms-flex-align: center!important;
  align-items: center!important
}

.align-items-stretch {
  -webkit-box-align: stretch!important;
  -ms-flex-align: stretch!important;
  align-items: stretch!important
}

.position-relative {
  position: relative!important
}

@supports ((position:-webkit-sticky) or (position:sticky)) {}

.mb-0 {
  margin-bottom: 0!important
}

.mt-3 {
  margin-top: 1rem!important
}

.mb-3 {
  margin-bottom: 1rem!important
}

.mb-4 {
  margin-bottom: 1.5rem!important
}

.mt-5 {
  margin-top: 3rem!important
}

.mb-5 {
  margin-bottom: 3rem!important
}

.py-3 {
  padding-top: 1rem!important
}

.py-3 {
  padding-bottom: 1rem!important
}

.p-4 {
  padding: 1.5rem!important
}

.pt-5, .py-5 {
  padding-top: 3rem!important
}

.py-5 {
  padding-bottom: 3rem!important
}

.mr-auto, .mx-auto {
  margin-right: auto!important
}

.ml-auto, .mx-auto {
  margin-left: auto!important
}

@media (min-width:768px) {
  .mb-md-0 {
    margin-bottom: 0!important
  }
  .ml-md-0 {
    margin-left: 0!important
  }
}

@media (min-width:992px) {
  .mb-lg-0 {
    margin-bottom: 0!important
  }
  .pl-lg-5 {
    padding-left: 3rem!important
  }
}

.text-right {
  text-align: right!important
}

.text-center {
  text-align: center!important
}

.text-uppercase {
  text-transform: uppercase!important
}

.font-weight-bold {
  font-weight: 700!important
}

.text-white {
  color: #fff!important
}

.text-primary {
  color: #ff5733!important
}

.text-secondary {
  color: #6c757d!important
}

@media print {
  *, :after, :before {
    text-shadow: none!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important
  }
  a:not(.btn) {
    text-decoration: underline
  }
  img {
    page-break-inside: avoid
  }
  h2, h3, p {
    orphans: 3;
    widows: 3
  }
  h2, h3 {
    page-break-after: avoid
  }
  @page {
    size: a3
  }
  body {
    min-width: 992px!important
  }
  .container {
    min-width: 992px!important
  }
}

/*** uncss> filename: C:/Users/Ethan/Documents/GitHub/HackIAW/css/magnific-popup.css ***/

/* Magnific Popup CSS */

/* Main image in popup */

/* The shadow behind the image */

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
}

/*** uncss> filename: C:/Users/Ethan/Documents/GitHub/HackIAW/css/jquery-ui.css ***/

/*! jQuery UI - v1.11.4 - 2015-12-03
* http://jqueryui.com
* Includes: core.css, button.css, slider.css, theme.css
* To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Lucida%20Grande%2CLucida%20Sans%2CArial%2Csans-serif&fwDefault=bold&fsDefault=1.1em&cornerRadius=5px&bgColorHeader=5c9ccc&bgTextureHeader=gloss_wave&bgImgOpacityHeader=55&borderColorHeader=4297d7&fcHeader=ffffff&iconColorHeader=d8e7f3&bgColorContent=fcfdfd&bgTextureContent=inset_hard&bgImgOpacityContent=100&borderColorContent=a6c9e2&fcContent=222222&iconColorContent=469bdd&bgColorDefault=dfeffc&bgTextureDefault=glass&bgImgOpacityDefault=85&borderColorDefault=c5dbec&fcDefault=2e6e9e&iconColorDefault=6da8d5&bgColorHover=d0e5f5&bgTextureHover=glass&bgImgOpacityHover=75&borderColorHover=79b7e7&fcHover=1d5987&iconColorHover=217bc0&bgColorActive=f5f8f9&bgTextureActive=inset_hard&bgImgOpacityActive=100&borderColorActive=79b7e7&fcActive=e17009&iconColorActive=f9bd01&bgColorHighlight=fbec88&bgTextureHighlight=flat&bgImgOpacityHighlight=55&borderColorHighlight=fad42e&fcHighlight=363636&iconColorHighlight=2e83ff&bgColorError=fef1ec&bgTextureError=glass&bgImgOpacityError=95&borderColorError=cd0a0a&fcError=cd0a0a&iconColorError=cd0a0a&bgColorOverlay=aaaaaa&bgTextureOverlay=flat&bgImgOpacityOverlay=0&opacityOverlay=30&bgColorShadow=aaaaaa&bgTextureShadow=flat&bgImgOpacityShadow=0&opacityShadow=30&thicknessShadow=8px&offsetTopShadow=-8px&offsetLeftShadow=-8px&cornerRadiusShadow=8px
* Copyright jQuery Foundation and other contributors; Licensed MIT */

/* Layout helpers
----------------------------------*/

/* Interaction Cues
----------------------------------*/

/* Icons
----------------------------------*/

/* states and images */

/* Misc visuals
----------------------------------*/

/* Overlays */

/* to make room for the icon, a width needs to be set here */

/* button elements seem to need a little more width */

/* button text element */

/* no icon support for input elements, provide padding by default */

/* button icon element(s) */

/* button sets */

/* workarounds */

/* reset extra padding in Firefox, see h5bp.com/l */

/* support: IE8 - See #6727 */

/* Component containers
----------------------------------*/

/* Interaction states
----------------------------------*/

/* Interaction Cues
----------------------------------*/

/* Icons
----------------------------------*/

/* states and images */

/* positioning */

/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */

/* Misc visuals
----------------------------------*/

/* Corner radius */

/* Overlays */

/*** uncss> filename: C:/Users/Ethan/Documents/GitHub/HackIAW/css/owl.carousel.min.css ***/

/**
 * Owl Carousel v2.2.1
 * Copyright 2013-2017 David Deutsch
 * Licensed under  ()
 */

/*** uncss> filename: C:/Users/Ethan/Documents/GitHub/HackIAW/css/owl.theme.default.min.css ***/

/**
 * Owl Carousel v2.2.1
 * Copyright 2013-2017 David Deutsch
 * Licensed under  ()
 */

/*** uncss> filename: C:/Users/Ethan/Documents/GitHub/HackIAW/css/bootstrap-datepicker.css ***/

/*!
 * Datepicker for Bootstrap v1.6.4 (https://github.com/eternicode/bootstrap-datepicker)
 *
 * Copyright 2012 Stefan Petre
 * Improvements by Andrew Rowls
 * Licensed under the Apache License v2.0 (http://www.apache.org/licenses/LICENSE-2.0)
 */

/*# sourceMappingURL=bootstrap-datepicker.css.map */

/*** uncss> filename: C:/Users/Ethan/Documents/GitHub/HackIAW/fonts/flaticon/font/flaticon.css ***/

/*
  	Flaticon icon font: Flaticon
  	Creation date: 24/01/2019 09:02
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"), url("./Flaticon.woff2") format("woff2"), url("./Flaticon.woff") format("woff"), url("./Flaticon.ttf") format("truetype"), url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

/*** uncss> filename: C:/Users/Ethan/Documents/GitHub/HackIAW/css/aos.css ***/

[data-aos][data-aos][data-aos-delay="100"] {
  transition-delay: 0
}

[data-aos][data-aos][data-aos-delay="100"].aos-animate {
  transition-delay: .1s
}

[data-aos][data-aos][data-aos-delay="150"] {
  transition-delay: 0
}

[data-aos][data-aos][data-aos-delay="150"].aos-animate {
  transition-delay: .15s
}

[data-aos][data-aos][data-aos-delay="200"] {
  transition-delay: 0
}

[data-aos][data-aos][data-aos-delay="200"].aos-animate {
  transition-delay: .2s
}

[data-aos][data-aos][data-aos-delay="250"] {
  transition-delay: 0
}

[data-aos][data-aos][data-aos-delay="250"].aos-animate {
  transition-delay: .25s
}

[data-aos][data-aos][data-aos-delay="300"] {
  transition-delay: 0
}

[data-aos][data-aos][data-aos-delay="300"].aos-animate {
  transition-delay: .3s
}

[data-aos][data-aos][data-aos-delay="350"] {
  transition-delay: 0
}

[data-aos][data-aos][data-aos-delay="350"].aos-animate {
  transition-delay: .35s
}

[data-aos][data-aos][data-aos-delay="400"] {
  transition-delay: 0
}

[data-aos][data-aos][data-aos-delay="400"].aos-animate {
  transition-delay: .4s
}

[data-aos][data-aos][data-aos-delay="450"] {
  transition-delay: 0
}

[data-aos][data-aos][data-aos-delay="450"].aos-animate {
  transition-delay: .45s
}

[data-aos][data-aos][data-aos-delay="500"] {
  transition-delay: 0
}

[data-aos][data-aos][data-aos-delay="500"].aos-animate {
  transition-delay: .5s
}

[data-aos][data-aos][data-aos-delay="550"] {
  transition-delay: 0
}

[data-aos][data-aos][data-aos-delay="550"].aos-animate {
  transition-delay: .55s
}

[data-aos][data-aos][data-aos-delay="600"] {
  transition-delay: 0
}

[data-aos][data-aos][data-aos-delay="600"].aos-animate {
  transition-delay: .6s
}

[data-aos][data-aos][data-aos-delay="700"] {
  transition-delay: 0
}

[data-aos][data-aos][data-aos-delay="700"].aos-animate {
  transition-delay: .7s
}

body[data-aos-duration="800"] [data-aos] {
  transition-duration: .8s
}

[data-aos][data-aos][data-aos-delay="800"] {
  transition-delay: 0
}

[data-aos][data-aos][data-aos-delay="800"].aos-animate {
  transition-delay: .8s
}

[data-aos^=fade][data-aos^=fade] {
  opacity: 0;
  transition-property: opacity, transform
}

[data-aos^=fade][data-aos^=fade].aos-animate {
  opacity: 1;
  transform: translate(0)
}

[data-aos=fade-up] {
  transform: translateY(100px)
}

[data-aos=fade-right] {
  transform: translate(-100px)
}

/*# sourceMappingURL=aos.css.map*/

/*** uncss> filename: C:/Users/Ethan/Documents/GitHub/HackIAW/css/style.css ***/

/* Base */

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

body {
  line-height: 1.7;
  color: #cfcfd1;
  font-weight: 300;
  font-size: 1rem;
  background: #232531;
  font-family: "Roboto Mono", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

::-moz-selection {
  background: #000;
  color: #fff;
}

::selection {
  background: #000;
  color: #fff;
}

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

a:hover {
  text-decoration: none;
}

h1, h2, h3, .h2, .h3, .h4 {
  font-family: "Roboto Mono", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.site-wrap:before {
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
  background: rgba(0, 0, 0, 0.6);
  content: "";
  position: absolute;
  z-index: 2000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
}

.site-section {
  padding: 2.5em 0;
}

@media (min-width: 768px) {
  .site-section {
    padding: 10em 0;
  }
}

.site-section-heading h2 {
  position: relative;
  font-size: 2.5rem;
  color: #fff;
  padding-bottom: 30px;
}

@media (min-width: 768px) {
  .site-section-heading h2 {
    font-size: 3rem;
  }
}

.site-section-heading h2:after {
  content: "";
  left: 0%;
  bottom: 0;
  position: absolute;
  width: 100px;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(#c70039), color-stop(70%, #ff5733));
  background: -webkit-linear-gradient(left, #c70039, #ff5733 70%);
  background: -o-linear-gradient(left, #c70039, #ff5733 70%);
  background: linear-gradient(to right, #c70039, #ff5733 70%);
}

@media (min-width: 992px) {
  .site-section-heading h2:after {
    left: -20%;
  }
}

.border-top {
  border-top: 1px solid #edf0f5 !important;
}

.site-footer {
  padding: 4em 0;
  background: #1b1d24;
}

@media (min-width: 768px) {
  .site-footer {
    padding: 8em 0;
  }
}

.site-footer a {
  color: #fff;
}

.site-footer a:hover {
  color: #ff5733;
}

.program h2 {
  font-size: 1.5rem;
}

.program .border-top {
  border-top: 1px solid #383b4f !important;
}

.program .border-bottom {
  border-bottom: 1px solid #383b4f !important;
}

/* Navbar */

.site-navbar {
  margin-bottom: 0px;
  z-index: 1999;
  position: absolute;
  width: 100%;
}

.site-navbar .site-navigation .site-menu {
  margin-bottom: 0;
}

.site-navbar .site-navigation .site-menu .active>a {
  color: #ff5733;
  position: relative;
}

.site-navbar .site-navigation .site-menu .active>a:after {
  content: "";
  background: -webkit-gradient(linear, left top, right top, from(#c70039), color-stop(70%, #ff5733));
  background: -webkit-linear-gradient(left, #c70039, #ff5733 70%);
  background: -o-linear-gradient(left, #c70039, #ff5733 70%);
  background: linear-gradient(to right, #c70039, #ff5733 70%);
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.site-navbar .site-navigation .site-menu a {
  text-decoration: none !important;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: 14px;
}

.site-navbar .site-navigation .site-menu>li {
  display: inline-block;
  padding: 10px 10px;
}

.site-navbar .site-navigation .site-menu>li>a {
  padding: 10px 0px;
  color: #fff;
  text-decoration: none !important;
  position: relative;
}

.site-navbar .site-navigation .site-menu>li>a:after {
  content: "";
  background: -webkit-gradient(linear, left top, right top, from(#c70039), color-stop(70%, #ff5733));
  background: -webkit-linear-gradient(left, #c70039, #ff5733 70%);
  background: -o-linear-gradient(left, #c70039, #ff5733 70%);
  background: linear-gradient(to right, #c70039, #ff5733 70%);
  width: 0;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

.site-navbar .site-navigation .site-menu>li>a:hover {
  color: #ff5733;
}

.site-navbar .site-navigation .site-menu>li>a:hover:after {
  width: 100%;
}

.site-navbar .site-navigation .site-menu>li.cta>a {
  border: 2px solid #3f4046;
  padding-left: 20px;
  padding-right: 20px;
  color: #ff5733;
}

.site-navbar .site-navigation .site-menu>li.cta>a:hover {
  color: #fff;
}

.site-navbar .site-navigation .site-menu>li.cta>a:hover:after {
  display: none;
}

.site-mobile-menu {
  width: 300px;
  position: fixed;
  right: 0;
  z-index: 2000;
  padding-top: 20px;
  background: #fff;
  height: calc(100vh);
  -webkit-transform: translateX(110%);
  -ms-transform: translateX(110%);
  transform: translateX(110%);
  -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

.site-mobile-menu .site-mobile-menu-header {
  width: 100%;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
  float: right;
  margin-top: 8px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
  font-size: 30px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 0px;
  line-height: 1;
  cursor: pointer;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
  color: #25262a;
}

.site-mobile-menu .site-mobile-menu-body {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: relative;
  padding: 0 20px 20px 20px;
  height: calc(100vh - 52px);
  padding-bottom: 150px;
}

.site-mobile-menu .site-nav-wrap {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

.site-mobile-menu .site-nav-wrap a {
  padding: 10px 20px;
  display: block;
  position: relative;
  color: #212529;
}

.site-mobile-menu .site-nav-wrap a:hover {
  color: #ff5733;
}

.site-mobile-menu .site-nav-wrap li {
  position: relative;
  display: block;
}

.site-mobile-menu .site-nav-wrap li.active>a {
  color: #ff5733;
}

.site-mobile-menu .site-nav-wrap>li {
  display: block;
  position: relative;
  float: left;
  width: 100%;
}

.site-mobile-menu .site-nav-wrap>li>a {
  padding-left: 20px;
  font-size: 20px;
}

/* Blocks */

.container-fluid {
  max-width: 1400px;
}

.site-hero {
  margin-bottom: 10rem;
}

.site-hero, .site-hero .row {
  min-height: 700px;
  height: calc(100vh - 95px);
}

.site-hero.inner, .site-hero.inner .row {
  min-height: 400px;
  height: calc(50vh - 95px);
}

.site-hero h1 {
  font-size: 2rem;
  background: -webkit-gradient(linear, left top, right top, from(#c70039), color-stop(70%, #ff5733));
  background: -webkit-linear-gradient(left, #c70039, #ff5733 70%);
  background: -o-linear-gradient(left, #c70039, #ff5733 70%);
  background: linear-gradient(to right, #c70039, #ff5733 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 992px) {
  .site-hero h1 {
    font-size: 6rem;
  }
}

.site-hero .caption {
  color: #fff;
}

@media (min-width: 768px) {
  .site-hero .caption {
    font-size: 1.7rem;
  }
}

.btn-custom {
  text-transform: uppercase;
  color: #fff !important;
  background: #3f4046;
  padding: 16px 30px;
  display: inline-block;
  letter-spacing: .2em;
  position: relative;
}

.btn-custom>span {
  position: relative;
  z-index: 2;
}

.btn-custom:before {
  background: -webkit-gradient(linear, left top, right top, from(#c70039), color-stop(70%, #ff5733));
  background: -webkit-linear-gradient(left, #c70039, #ff5733 70%);
  background: -o-linear-gradient(left, #c70039, #ff5733 70%);
  background: linear-gradient(to right, #c70039, #ff5733 70%);
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  width: 0;
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
  z-index: 1;
}

.btn-custom:hover:before {
  width: 100%;
}

.speaker {
  margin-bottom: 50px;
}

.speaker .name {
  left: -80px;
  position: relative;
}

@media (max-width: 1199.98px) {
  .speaker .name {
    left: 0;
  }
}

.profpic {
  border-radius: 50%;
  width: 250px;
}

.inputbox {
  font-size: inherit;
  font-family: inherit;
  border-radius: 5px;
  max-width: 75%;
  padding:10px;
  margin:10px;
}

.whiteroundbox {
  padding: 2px 10px;
  margin-top: 15px;
  border-radius: 5px;
  background-color: white;
  color: #232531 !important;
  vertical-align: middle !important;
}

.bigsponsor {
  width:100%;
  margin-top: 15px;
}

.mediumsponsor{
  display: inline-block;
  position: relative;
  max-width: 48%;
  padding: 0.5rem 0.25rem !important;
}


.sponsor{
  display: inline-block;
  position: relative;
  max-width: 32%;
  padding: 0.5rem 0.25rem !important;
}

.sponsorsection{
  margin-top:100px;
}

.sponsorrow{
  text-align: center;
}

/* row mb-5 */